<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">



      <div class="image-container">
        <div class="circle">
        <img src="assets/iconUser.svg" alt="Imagen del encabezado" class="header-image">
      </div>
      </div>
      <div class="required-fields">
        Los campos marcados con <span class="required">*</span> son requeridos
      </div>
      <div class="form-container">
        <form (ngSubmit)="submitForm()" [formGroup]="userForm" class="form">
          <div class="form-group">
            <label for="name">Nombre <span class="required">*</span></label>
            <input type="text" id="name" formControlName="name" required class="form-control"
              [ngClass]="{ 'is-invalid': userForm.get('name')!.invalid && userForm.get('name')!.touched }">
            <div *ngIf="userForm.get('name')!.invalid && userForm.get('name')!.touched" class="error-message">
              Campo requerido
            </div>
          </div>

          <div class="form-group">
            <label for="name">Apellido Paterno <span class="required">*</span></label>
            <input type="text" id="patern" formControlName="patern" required class="form-control"
              [ngClass]="{ 'is-invalid': userForm.get('patern')!.invalid && userForm.get('patern')!.touched }">
            <div *ngIf="userForm.get('patern')!.invalid && userForm.get('patern')!.touched" class="error-message">
              Campo requerido
            </div>
          </div>



          <div class="form-group">
            <label for="name">Apellido Materno<span class="required">*</span></label>
            <input type="text" id="matern" formControlName="matern" required class="form-control"
              [ngClass]="{ 'is-invalid': userForm.get('matern')!.invalid && userForm.get('matern')!.touched }">
            <div *ngIf="userForm.get('matern')!.invalid && userForm.get('matern')!.touched" class="error-message">
              Campo requerido
            </div>
          </div>




          <div class="form-group">
            <label for="email">Correo Electrónico <span class="required">*</span></label>
            <input type="email" id="email" formControlName="email" required class="form-control"
              [ngClass]="{ 'is-invalid': userForm.get('email')!.invalid && userForm.get('email')!.touched }">
            <div *ngIf="userForm.get('email')!.invalid && userForm.get('email')!.touched" class="error-message">
              Campo requerido o formato de correo inválido
            </div>
          </div>
          <div class="form-group">
            <label for="profession">Profesión</label>
            <select id="profession" formControlName="profession"  (change)="onProfessionChange()"
              class="form-control"
             >
              <option *ngFor="let profession of professions" [value]="profession.ProfessionId">{{
                profession.ProfessionName }}</option>
            </select>

          </div>
          <div *ngIf="showSpeciality" class="form-group">
            <label for="speciality">Especialidad</label>
            <select id="speciality" formControlName="speciality" class="form-control">
              <option *ngFor="let speciality of specialities" [value]="speciality.SpecialityId">{{
                speciality.SpecialityName }}</option>
            </select>
          </div>
          <div *ngIf="showCedula" class="form-group">
            <label for="cedula">Cédula Profesional <span class="required">*</span></label>
            <input type="text" id="cedula" formControlName="cedula" class="form-control"
            required class="form-control"
              [ngClass]="{ 'is-invalid': userForm.get('cedula')!.invalid && userForm.get('cedula')!.touched }">
              <div *ngIf="userForm.get('cedula')!.invalid && userForm.get('cedula')!.touched" class="error-message">
                Campo requerido
              </div>
          </div>
          <div class="form-group">
            <label for="country">País </label>
            <select id="country" formControlName="country"  (change)="onCountryChange()" class="form-control"
           >
              <option *ngFor="let country of countries" [value]="country.CountryId">{{ country.CountryName | uppercase }}</option>
            </select>

          </div>
          <div class="form-group">
            <label for="state">Estado/Departamento </label>
            <select id="state" formControlName="state"  (change)="onStateChange()" class="form-control">
              <option *ngFor="let state of states" [value]="state.StateId">{{ state.StateName | uppercase}}</option>
            </select>

          </div>
          <div class="form-group">
            <label for="location">Delegación/Municipio </label>
            <select id="location" formControlName="location"  class="form-control">
              <option *ngFor="let location of locations" [value]="location.LocationId">{{ location.LocationName | uppercase  }}</option>
            </select>

          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </div>

        </form>
      </div>


    </div>
  </div>
  <div>
